<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Clipboard - Page Not Found</title>

    <style>
        body {
            min-height: 100vh;
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            place-content: center;
            background-color: black;
        }

        h1 {
            font-size: 3em;
        }
    </style>
</head>

<body>
    <h1>404</h1>
    <p>Page do not exist or has been removed!</p>
</body>

</html>