<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online clipboard</title>
    <script defer  type="module" src="/script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>ClipLine</h1>
    <h3>Your online clipboard</h3>
    <p> Access your data from everywhere even if it's in a virtual machine or to write at the same time
     with somebody
    </p>

    <form  >
        <label for="collection">You can enter the name of a new collection or of an old if you have</label>
        <input type="text" name="collection" id="collection" required minlength="3">
        <button>Start</button>
    </form>
</body>
</html>